.categories-container {
  max-width: 800px;
  margin: 1% auto 12%;
  padding: 20px;
  background-color: #bebebe; 
  border-radius: 12px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.categories-heading {
  color: #343a40; 
  font-size: 32px; 
  margin-bottom: 20px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

.categories-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px; 
  border-radius: 12px; 
  box-shadow: -7px 8px 5px 2px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  cursor: pointer;
}

.category-item:hover {
  background-color: #94b5d8;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Larger box shadow on hover */
}

@media (max-width: 600px) {
  .categories-columns {
    grid-template-columns: 1fr;
  }
}
