.title{
    text-align: center;
}
.product-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #a8a8a8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .thumbnail {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .thumbnail img {
    width: auto;
    max-height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-carousel {
    margin-top: 20px;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .image-carousel img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 600px) {
    .categories-columns {
      grid-template-columns: 1fr;
    }}