body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  background-color: rgb(104, 104, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}